body{
    background-color: white;
}

div#LoginSignupPrompt{
    border: 1px solid rgba(0,0,0,0.1);
    width: 50%;
    color: gray
}

div.usercred{
    width: 30%;
}

img.camp-show-image{
    width: auto;
    height: auto;
}

a.to-user-profile{
    color:black;
}
a.to-user-profile:hover{
    color:rgb(0,100,230);
}